@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.chart-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 15px;

	@media (min-width: $screen-xs) {
		width: 20px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		width: 100%;
		border-radius: 12px;
		overflow: hidden;
		background-color: $brand-two;
	}

	&__fill {
		width: 100%;
		background-color: $brand-four;
		transition: all 0.3s ease-out;
	}

	&__label {
		font-weight: bold;
		font-size: 0.5rem;
		text-align: center;
		color: $brand-two;
	}
}
