@use "../../partials/variables" as *;

.expense-date {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	min-width: 100%;
	min-height: auto;
	// border: 1px solid #ececec;
	border-radius: 12px;
	color: #fff;
	background-color: #52b788;

	@media (min-width: $screen-xs) {
		flex-direction: column;
		min-width: 5.5rem;
		min-height: 5.5rem;
	}

	&__month {
		font-size: 0.75rem;
		font-weight: bold;
	}

	&__year {
		font-size: 0.75rem;
	}

	&__day {
		font-size: 1.5rem;
		font-weight: bold;
	}
}
