.expense-date {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 5.5rem;
	height: 5.5rem;
	border: 1px solid #ececec;
	border-radius: 12px;
	color: white;
	background-color: #2a2a2a;

	&__month {
		font-size: 0.75rem;
		font-weight: bold;
	}

	&__year {
		font-size: 0.75rem;
	}

	&__day {
		font-size: 1.5rem;
		font-weight: bold;
	}
}
