.expenses-filter {
	// padding: 0 1rem;
	color: white;

	&__control {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 1rem 0;
	}

	& label {
		margin-bottom: 0.5rem;
		font-weight: bold;
	}

	& select {
		padding: 0.5rem 3rem;
		border-radius: 6px;
		font-weight: bold;
		font: inherit;
	}
}
