@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.expense-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column-reverse;
	padding: 0.5rem;
	margin: 1rem 0;
	background-color: #08090a;

	@media (min-width: $screen-xs) {
		flex-direction: row;
	}

	&__right {
		display: flex;
		flex-direction: column;
	}

	&__description {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		flex: 1;
		width: 100%;

		@media (min-width: $screen-xs) {
			flex-direction: row;

			h2 {
				font-size: 1.25rem;
			}
		}
	}

	&__title {
		flex: 1;
		margin: 1rem;
		font-size: 1rem;
		color: #fff;

		@media (min-width: $screen-xs) {
			margin: 0 1rem;
		}
	}

	&__price {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		font-weight: bold;
		color: #fff;
		background-color: #52b788;
		min-height: auto;
		min-width: 100%;
		// border: 1px solid #fff;
		padding: 0.5rem;
		border-radius: 12px;

		@media (min-width: $screen-xs) {
			min-height: 5.5rem;
			min-width: auto;
			padding: 0.5rem 1.5rem;
			font-size: 1.25rem;
		}

		&.medium {
			background-color: #e4920e;
			color: black;
		}

		&.high {
			background-color: #c33c54;
		}
	}

	button {
		@include button-styles;
		padding: 0.5rem;
		width: 100%;
		height: 3rem;
		line-height: 0.7rem;
		border-radius: 12px;
		overflow-wrap: break-word;
		text-align: center;

		@media (min-width: $screen-xs) {
			margin-left: 0.5rem;
			width: 2.2rem;
			height: 5.5rem;
		}

		&:hover,
		&:active,
		&:focus {
			background-color: rgb(149, 3, 3);
			color: $brand-two;
			border-color: rgb(149, 3, 3);
			outline-color: rgb(149, 3, 3);
		}

		&:focus {
			outline: 2px solid webkit-focus-ring-color;
			outline-offset: -2px;
		}
	}
}
