// spacing
$margin: 1rem;
$padding: 1rem;

// media
$screen-xxl: 1600px;
$screen-xl: 1400px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;

// colors
$primary-black: #323232;
$secondary-white: #fafafa;
$silver: #afafaf;
$silver-light: #e1e1e1;

$brand-one: #0075a2;
$brand-two: #eaba6b;
$brand-three: #0075a2;

// $brand-one: #00d8ff;
// $brand-four: #eaba6b;
// $brand-two: #00ffc5;
// $brand-five: #d55672;
