@use "../../partials/variables" as *;
@use "../../partials/typography" as *;
@use "../../partials/mixins" as *;

.new-expense {
	&__controls {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		// gap: 1rem;
		width: 100%;
		margin-bottom: 1rem;
		text-align: left;

		@include tablet {
			padding: 0 $padding * 5;
		}
	}

	&__control label {
		display: block;
		margin-bottom: 0.5rem;
		font-weight: bold;
	}

	&__control input {
		width: 100%;
		padding: 0.5rem;
		border: 1px solid #ccc;
		border-radius: 12px;
		font: inherit;

		&:focus {
			outline: none;
		}
	}

	&__actions {
		text-align: right;

		@include tablet {
			padding: 0 $padding * 4;
		}
	}
}

// .new-expense__controls {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 1rem;
//   margin-bottom: 1rem;
//   text-align: left;
// }

// .new-expense__control label {
//   font-weight: bold;
//   margin-bottom: 0.5rem;
//   display: block;
// }

// .new-expense__control input {
//   font: inherit;
//   padding: 0.5rem;
//   border-radius: 6px;
//   border: 1px solid #ccc;
//   width: 20rem;
//   max-width: 100%;
// }

// .new-expense__actions {
//   text-align: right;
// }
