@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.new-expense {
	&__controls {
		@include form-styles;
	}

	&__actions {
		text-align: right;

		@include tablet {
			padding: 0 $padding * 4;
		}

		button:last-of-type {
			margin-left: $margin;
		}
	}
}
