@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.new-expense {
	&__controls {
		@include form-styles;
	}

	&__actions {
		text-align: center;

		@media (min-width: $screen-xs) {
			text-align: right;
		}

		@include tablet {
			padding: 0 $padding * 4;
		}

		button {
			width: 55%;
			@media (min-width: $screen-xs) {
				width: auto;
			}

			&:last-of-type {
				margin-top: $margin;

				@media (min-width: $screen-xs) {
					margin-left: $margin;
					margin-top: 0;
				}
			}
		}
	}
}
