@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.new-expense {
	@include section;
	padding: 2rem 1rem 1rem 1rem;
	text-align: center;

	button {
		@include button-styles;
	}
}
