.new-expense {
	width: 50rem;
	max-width: 95%;
	padding: 1rem;
	margin: 2rem auto;
	border-radius: 12px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
	text-align: center;
	background-color: #a892ee;

	& button {
		padding: 1rem 2rem;
		margin-right: 1rem;
		border: 1px solid #40005d;
		border-radius: 12px;
		color: white;
		background-color: #40005d;
		font: inherit;
		cursor: pointer;

		&:hover,
		&:active {
			border-color: #510674;
			background-color: #510674;
		}

		&.alternative {
			color: #220131;
			border-color: transparent;
			background-color: transparent;

			&:hover,
			&:active {
				background-color: #ddb3f8;
			}
		}
	}
}
