@use "../../partials/mixins" as *;

.card {
	padding: 1rem;
	margin: 2rem auto;
	border-radius: 12px;
	box-shadow: 0 2px 8px rgba(255, 255, 255, 0.26);

	&.main-heading {
		@include section;
		text-align: center;
		color: #fff;
	}
}
